.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 800px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1000px) {
    max-width: calc(100vw - 200px);
  }
  .blog-info {
    margin-bottom: 20px;
    .blog-title {
      font-size: 40px;
      font-weight: normal;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .copy-right {
        display: inline-flex;
        flex-direction: row;
        p {
          margin: 0;
        }
      }
      .ele-title {
        display: inline-block;
        width: 85px;
      }
    }
  }
  .img {
    max-width: 100%;
  }
  pre {
    counter-reset: line;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;

    .code-details .line {
      counter-increment: line;
      display: block;
      position: relative;
      padding-left: 1.5em;
    }

    .line::before {
      content: counter(line);
      bottom: 0;
      text-align: right;
      position: absolute;
      left: -1em;
      width: 2em;
      color: #666;
      user-select: none; /* 禁止选中行号 */
    }
    code {
      position: relative;
      border-radius: 5px;
      .copy-button {
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
        &:hover {
          .copy-img {
            opacity: 1;
          }
        }
        .copy-img {
          user-select: none;
          -webkit-user-drag: none;
          width: 20px;
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .code-details {
        summary {
          cursor: pointer;
          user-select: none;
          padding-bottom: 5px;
        }
      }
    }
  }
}
