.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  .img {
    max-width: 100%;
  }
  pre {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    code {
      position: relative;
      border-radius: 5px;
      .copy-button {
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
        &:hover {
          .copy-img {
            opacity: 1;
          }
        }
        .copy-img {
          width: 20px;
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .code-details {
        summary {
          cursor: pointer;
          user-select: none;
          padding-bottom: 5px;
        }
      }
    }
  }
}
