.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 800px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1000px) {
    max-width: calc(100vw - 200px);
  }
  p {
    margin: 13px 0;
    line-height: 2rem;
  }
  ol {
    margin-top: 0;
  }
  .blog-info {
    margin-bottom: 20px;
    .blog-title {
      font-size: 40px;
      text-align: center;
      font-weight: normal;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .copy-right {
        display: inline-flex;
        flex-direction: row;
        p {
          margin: 0;
        }
      }
      .author::before {
        content: "\f5ad";
        font-family: "far";
      }
      .create-time::before {
        content: "\f073";
        font-family: "far";
      }
      .last-update::before {
        content: "\f044";
        font-family: "far";
      }
      .reading-time::before {
        content: "\f017";
        font-family: "far";
      }
      .ele-title {
        display: inline-block;
        // width: 85px;
      }
    }
  }
  .img {
    max-width: 100%;
  }
  pre {
    counter-reset: line;
    border-radius: 4px;

    code[data-open="true"] {
      .code {
        display: unset;
      }
      .line-numbers {
        display: flex;
      }
      .language::before {
        content: "▼";
      }
    }
    code[data-open="false"] {
      .code {
        display: none;
      }
      .line-numbers {
        display: none;
      }
      .language::before {
        content: "▶";
      }
    }

    code {
      position: relative;
      border-radius: 5px;
      line-height: 24px;
      padding-left: 44px !important;
      padding-top: 40px !important;

      .language::before {
        margin-right: 10px;
      }

      .line-numbers {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        width: 32.1px;
        text-align: right;
        font-size: 15px;
        line-height: 24px;
        color: #666;
        user-select: none; /* 禁止选中行号 */
      }

      .top-line {
        position: absolute;
        width: 100%;
        height: 25px;
        top: 15px;
        left: 0;
        user-select: none; /* 禁止选中行号 */
        .language {
          top: -5px;
          left: 20px;
          position: absolute;
          cursor: pointer;
        }

        .copy-button {
          right: 15px;
          position: absolute;
          cursor: pointer;
          &:hover {
            .copy-img {
              opacity: 1;
            }
          }
          .copy-img {
            user-select: none;
            -webkit-user-drag: none;
            width: 20px;
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }
  pre.plain-text {
    font-size: 16px;
    margin: 0;
  }
}
